# База данных
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/panem_db"

# Next.js
NODE_ENV=development
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-here

# Публичные (доступны на клиенте)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_REGION_DEFAULT=samara
